<div class="banner">
  <img src="assets/banner.png" alt="Banner Image">
  <div class="banner-text">
    <h1><strong>WELCOME TO LEE'S KIMCHI</strong></h1>
  </div>
</div>
<div class="card-group">
  <div class="col-md-6 d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
      <div class="card mb-4 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">FLAVOURFUL, BALANCED, FRESH</h5>
          <p class="card-text">Each tub is carefully curated with the finest ingredients to give you the freshest kimchi.</p>
          <br><br>
          <button class="aboutButton" routerLink="/about">Our Story</button>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4 border-0">
    <div class="card-body">
      <img class="card-img" src="/assets/info.jpg" alt="info image">
    </div>
  </div>
</div>
<div class="card-group">
  <div class="card mb-4 border-0">
    <div class="card-body">
      <img class="card-img" src="/assets/animation.gif" alt="animation image">
    </div>
  </div>
  <div class="col-md-6 d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-center" style="width: 100%;">
      <div class="card mb-4 border-0">
        <div class="card-body text-center">
          <h5 class="card-title">BROWSE OUR PRODUCTS</h5>
          <br><br>
          <button type="button" class="btn btn-success" routerLink="/products">Shop Now!</button>
        </div>
      </div>
    </div>
  </div>
</div>





