<div class="container mt-5">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3>Login</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <input type="email" id="email" formControlName="email" class="form-control" placeholder="Email">
              <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['required']">Required Field</span>
              <span class="text-danger" *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].errors?.['email']">Wrong email format</span>
              <span class="text-danger" *ngIf="emailErrorMsg">{{emailErrorMsg}}</span>
            </div>
            <br>
            <div class="form-group position-relative">
              <div class="input-group">
                <input [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" minLength="8" placeholder="Password">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">{{showPassword ? 'Hide' : 'Show'}}</button>
                </div>
              </div>
              <span class="text-danger" *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].errors?.['required']">Required Field</span>
              <span class="text-danger" *ngIf="passwordErrorMsg">{{passwordErrorMsg}}</span>
            </div>
            <br>
            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
          </form>
          <br>
          <button class="oauth2button" (click)="initiateOAuth2Login()">
            <img src="https://pbs.twimg.com/profile_images/1605297940242669568/q8-vPggS_400x400.jpg">
            &nbsp;<span>Login with Google</span>
          </button>
          <br>
          <span>Don't have an account? <a routerLink="/signup">Create one</a></span>
        </div>
      </div>
    </div>
  </div>
</div>
